@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 15, 22, 41;
    --background-start-rgb: 15, 22, 41;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 122, 199, 79;
        --background-start-rgb: 0, 23, 41;
        --background-end-rgb: 0, 4, 7;
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: radial-gradient(
            circle at center,
            rgb(var(--background-start-rgb)) 20%,
            rgb(var(--background-end-rgb)) 150%
        );
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: radial-gradient(
    circle at center,
        rgb(var(--background-start-rgb)) 20%,
        rgb(var(--background-end-rgb))150%
    );
}
